{% extends "base.html" %}

{% block title %}
Ask Question
{% endblock %}

{% block content %}
<h2 class="has-text-centered subtitle">Ask Question</h2>
<form action="{% url 'forum:ask_question' %}" class="mb-3" method="POST" enctype="multipart/form-data">
{% csrf_token %}
    {% for field in form %}
    {% if field.label == "Category" %}

    

<div class="select mb-3">

        
            {{ field }}

        {{field.errors}}
        </div>
    {% else %}
    <div class="field">
        <label class="label">{{ field.label }}</label>
        <div class="control">
            {{ field }}
        </div>
        {{field.errors}}
    </div>
    {% endif %}
    {% endfor %}
    <button class="button is-info is-fullwidth" type="submit">Submit</button>
</form>
{% endblock %}