{% extends "base.html" %}
{% load static %}

{% block title %}
Forum
{% endblock %}

{% block content %}
<section class="section">
    <div class="columns">
        <div class="column is-three-quarters">
            <a href="{% url 'forum:ask_question' %}"
                class="button is-info mb-3">Ask Questions ?</a>
            {% comment %} Display All posts {% endcomment %}
            {% for post in posts %}
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <small>{{post.author.first_name}}
                                    {{post.author.last_name}}</small>
                                <small>{{post.get_posted_time_in_minutes}}m</small>
                                <br>
                                <strong>{{post.title}}</strong>
                                <br>
                                <a href="{% url 'forum:post_detail' post.id %}"
                                    class="post-content">{{post.content|slice:"50"}}...</a>
                            </p>
                        </div>
                        <nav class="level is-mobile">
                            <div class="level-left">
                                <form method="post"
                                    action="{% url 'forum:like_post' post.id %}"
                                    class>
                                    {% csrf_token %}
                                    <button type="submit"
                                        class="button is-ghost my-icon"
                                        aria-label="like">
                                        <span class="icon is-small has-text-info">
                                            <i class="fas fa-heart"
                                                aria-hidden="true"></i>
                                        </span>
                                        <span>{{ post.likes.count }}</span>
                                    </button>
                                </form>

                                <a href="{% url 'forum:post_detail' post.id %}"
                                    class="button is-ghost my-icon"
                                    aria-label="delete">
                                    <span
                                        class="icon is-small has-text-info">
                                        <i class="fas fa-comment"
                                            aria-hidden="true"></i>
                                    </span>
                                    <span> {{post.comments.count}}</span>
                                </a>
                            </div>
                        </nav>
                    </div>
                    {% if post.author == user %}
                    <div class="media-right">
                        <form method="post"
                            action="{% url 'forum:delete_post' post.id %}">
                            {% csrf_token %}
                            <button type="submit" class="button is-ghost"
                                aria-label="delete">
                                <span class="icon is-small has-text-danger">
                                    <i class="fas fa-trash"
                                        aria-hidden="true"></i>
                                </span>
                            </button>
                        </form>
                    </div>
                    {% endif %}
                </article>
            </div>
            {% endfor %}
        </div>
        {% include "forum/sidebar.html" %}
    </div>
</section>

{% endblock %}