{% extends "base.html" %}
{% load static %}

{% block title %}
Forum
{% endblock %}

{% block content %}
<section class="section">
    <div class="columns">
        <div class="column is-three-quarters">
            {% for post in posts %}
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <small>{{post.author.first_name}}
                                    {{post.author.last_name}}</small>
                                <small>{{post.get_posted_time_in_minutes}}m</small>
                                <br>
                                <strong>{{post.title}}</strong>
                                <br>
                                <a href="{% url 'forum:post_detail' post.id %}"
                                    class="post-content">{{post.content|slice:"50"}}...</a>
                            </p>
                        </div>
                        <nav class="level is-mobile">
                            <div class="level-left">
                                <a class="level-item like-button"
                                    aria-label="like"
                                    data-post-id="{{ post.id }}">
                                    <span class="icon is-small">
                                        <i class="fas fa-heart"
                                            aria-hidden="true"></i>
                                    </span>
                                    <span class="like-count">{{ post.likes.count}}</span>
                                </a>
                                <a class="level-item" aria-label="like">
                                    <span class="icon is-small">
                                        <i class="fas fa-comment"
                                            aria-hidden="true"></i>
                                    </span>
                                    15
                                </a>
                            </div>
                        </nav>
                    </div>
                </article>
            </div>
            {% endfor %}
        </div>
        {% include "forum/sidebar.html" %}

    </div>
</section>

{% endblock %}