{% extends "base.html" %}
{% load static %}
{% block title %}
Home
{% endblock %}

{% block content %}

{% comment %} Hero Section {% endcomment %}
<section class="hero is-medium">
    <div class="hero-body">
        <div class="columns">
            <div class="column is-half">
                <h1 class="title mb-3">
                    Ask Question you want!
                </h1>
                <p class="subtitle is-normal mt-3">
                    Welcome to Superior Forum, a platform for students of
                    Superior University to ask and answer questions. Whether you
                    need help with your assignments, exams, projects, or
                    anything else, you can find it here. Join the community and
                    share your knowledge with your fellow students. 🙌
                </p>
                <div class="buttons">
                    <a href="{% url 'forum:contact' %}"
                        class="button is-light mr-3">Contact</a>
                    <a href="{% url 'forum:forum_page' %}"
                        class="button is-info">Forum</a>
                </div>
            </div>
            <div class="column is-half">
                <img src="{% static 'images/hero.png' %}" width="600"
                    alt="Hero">
            </div>
        </div>
    </div>
</section>
<h2 class="subtitle has-text-centered mb-5">Contact Us</h2>
{% include "forum/contact_form.html" %}

{% endblock %}