{% extends "base.html" %}
{% load static %}
{% load filters %}
{% block title %}
{{ post.title }}
{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-three-quarters">
                <h1 class="title is-1">{{ post.title }}</h1>
                <p class="subtitle is-6">Posted by {{ post.author.first_name }}
                    on {{ post.created_at|date:"F d, Y" }}</p>
                <p class="content">{{ post.content }}</p>
                {% if post.image %}
                <img src="{{post.image.url}}" alt="Image" />
                {% endif %}
                <nav class="level is-mobile">
                    <div class="level-left">
                        {% if user.is_authenticated %}
                                <form method="post"
                                    action="{% url 'forum:like_post' post.id %}"
                                    class="like-form">
                                    {% csrf_token %}
                                    <button type="submit"
                                        class="button is-ghost my-icon"
                                        aria-label="like">
                                        {% if post|is_liked_by_user:user %}
                                        <span
                                            class="icon is-small has-text-danger">
                                            <i class="fas fa-heart"
                                                aria-hidden="true"></i>
                                        </span>
                                        {% else %}
                                        <span
                                            class="icon is-small has-text-info">
                                            <i class="fas fa-heart"
                                                aria-hidden="true"></i>
                                        </span>
                                        {% endif %}
                                        <span>{{ post.likes.count }}</span>
                                    </button>
                                </form>
                                {% else %}
                                <span class="icon is-small has-text-info mr-1">
                                    <i class="fas fa-heart"
                                        aria-hidden="true"></i>
                                </span>
                                <span>{{ post.likes.count }}</span>
                                {% endif %}

                        <a href="{% url 'forum:post_detail' post.id %}"
                            class="button is-ghost my-icon"
                            aria-label="delete">
                            <span
                                class="icon is-small has-text-info">
                                <i class="fas fa-comment"
                                    aria-hidden="true"></i>
                            </span>
                            <span> {{post.comments.count}}</span>
                        </a>
                    </div>
                </nav>
                <div class="box">
                    {% if user.is_authenticated %}
                    <form action="{% url 'forum:create_comment' post.id %}"
                        method="POST">
                        {% csrf_token %}
                        <div class="field">
                            <div class="control">
                                <textarea class="textarea" name="content"
                                    placeholder="Add a comment..."></textarea>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <button class="button is-link">
                                    Post comment
                                </button>
                            </div>
                        </div>
                    </form>
                    {% else %}

                    <h2 class="subtitle">You need to Login to comment. <a
                            href="{% url 'authentication:login' %}">Login
                            Here.</a></h2>

                    {% endif %}
                </div>
                <div>
                    {% if post.comments %}
                    {% for comment in post.comments.all %}
                    <div class="box">
                        <article class="media">

                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>{{ comment.user.first_name }}
                                            {{comment.user.last_name}}</strong>
                                        <br>
                                        {{ comment.content }}
                                    </p>
                                </div>
                                {% if comment.replies.all %}
                                <div class="replies">
                                    {% for reply in comment.replies.all %}
                                    <div class="box reply-box">
                                        <div class="content">
                                            <p>
                                                <strong>{{ reply.user.first_name}}
                                                    {{reply.user.last_name}}</strong>
                                                <br>
                                                {{ reply.content }}
                                            </p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                                {% if user.is_authenticated %}
                                <form
                                    action="{% url 'forum:create_reply' pk=post.pk comment_pk=comment.pk %}"
                                    method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="post_pk"
                                        value="{{ post.pk }}">
                                    <input type="hidden" name="comment_pk"
                                        value="{{ comment.pk }}">
                                    {% csrf_token %}
                                    <div class="field">
                                        <div class="control">
                                            <textarea class="textarea"
                                                name="content"
                                                placeholder="Add your reply..."></textarea>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="control">
                                            <button type="submit"
                                                class="button is-link">
                                                Reply
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                {% else %}
                                <h2 class="subtitle  mt-4">You need to Login to
                                    Reply.
                                    <a
                                        href="{% url 'authentication:login' %}">Login
                                        Here.</a></h2>
                                {% endif %}
                            </div>
                            {% if comment.user == user %}
                            <div class="media-right">
                                <form method="post"
                                    action="{% url 'forum:delete_comment'  pk=comment.pk post_pk=post.pk  %}">
                                    {% csrf_token %}
                                    <button type="submit"
                                        class="button is-ghost"
                                        aria-label="delete">
                                        <span
                                            class="icon is-small has-text-danger">
                                            <i class="fas fa-trash"
                                                aria-hidden="true"></i>
                                        </span>
                                    </button>
                                </form>
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
