.title{
    color: #3e8ed0;
}
.contact{
    margin-bottom: -20px;
}

.footer {
    background-color: #3e8ed0;
    color: #fff;
    padding: 2rem 0;
}

.footer p {
    margin-bottom: 0;
}

.social-media-icons a {
    color: #fff;
    margin-right: 1rem;
    transition: color 0.3s ease;
}

.social-media-icons a:hover {
    color: #f0f0f0;
}

.login{
    margin-top: 31px;
}

.border-left{
    border-left: 1px solid #807e7ea8;
}
.post-content{
    color: #1a1919;
}

.container{
    min-height: 84vh;
}

.my-icon:focus{
    outline: none;
    border: none;
    box-shadow: none !important;
}
.reply-box{
    box-shadow: none;
}