
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            &copy; 2024 Superior Forum. All rights reserved.
        </p>
        <div class="social-media-icons mt-3">
            <!-- Add your social media icons and links here -->
            <a href="#" class="icon">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="#" class="icon">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="icon">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
    </div>
</footer>