{% load static %}
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{% url 'forum:home' %}">
      <img src="{% static 'images/logo.png' %}" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu"
      aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="{% url 'forum:home' %}" class="navbar-item">
        Home
      </a>

      <a href="{% url 'forum:forum_page' %}" class="navbar-item">
        Forum
      </a>
      <a href="{% url 'forum:contact' %}" class="navbar-item">
        Contact
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
      {% if user.is_authenticated %}
      <h2>Welcome <strong>{{user.first_name}}</strong></h2>
      <form method="post" action="{% url 'authentication:logout' %}">
          {% csrf_token %}
           <button class="button is-ghost" type="submit">Logout</button>
      </form>
     
      {% else %}
        <div class="buttons">
          <a href="{% url 'authentication:login' %}" class="button is-light">
            Log in
          </a>
          <a href="{% url 'authentication:signup' %}" class="button is-info">
            <strong>Sign up</strong>
          </a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</nav>