{% extends "base.html" %}
{% block title %}
Sign Up
{% endblock %}
{% block content %}
 <section class="section is-fullheight login">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <h1 class="title has-text-centered">Login</h1>

        <form method="post" action="{% url 'authentication:login' %}">
          {% csrf_token %}

          {% for field in form %}
            <div class="field">
              <label class="label">{{ field.label }}</label>
              <div class="control">
                {{ field }}
              </div>
            </div>
          {% endfor %}
 <p class="">
          Don't have an account? <a href="{% url 'authentication:signup' %}">Sign up here</a>.
        </p>
          <div class="field mt-4">
            <div class="control">
              <button class="button is-info is-fullwidth" type="submit">Login</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</section>

{% endblock %}
